spring:
  application:
    name: requestfrombranch
  datasource:
    url: jdbc:mysql://172.16.9.98:3306/db_peds?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: root_password
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update
  jackson:
    serialization:
      write-dates-as-timestamps: false
      fail-on-empty-beans: false
  
  